[Unit]
Description=xdncov

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/git_repository/xdncov
ExecStart=/home/ubuntu/git_repository/xdncov/xdncov_linux_amd64

[Install]
WantedBy=multi-user.target
