# 已返校同学可只更改前三项
name     = "张三"       # 姓名
id       = 11111111111  # 学号
password = "11111111"   # 统一认证登录密码

# 其他内容可不更改
province    = "陕西省"
city        = "西安市"
area        = "陕西省 西安市 长安区"
address     = "陕西省西安市西沣路兴隆段266号"
tw          = 1  # 今日体温
sfzx        = 1  # 是否在校
sfcyglq     = 0  # 是否处于隔离期
sfyzz       = 0  # 是否有症状
askforleave = 0  # 是否请假外出
qtqk        = "" # 其他情况

# 以下内容会由程序自动更改，如果不清楚如何正确修改，可不用理会
cookie   = "" # 用作持久化。
path     = "" # 文件保存路径
lastupdatetime = 2020-01-01T00:00:00Z # 最后一次更新时间